/* nav {
    flex: auto;
    flex-wrap: wrap;   
} */

ul {
    list-style: none;
    text-align: right;
    padding-right: 1em;
}

li {
    display: inline-block;
}

h1 {
    font-family: sans-serif;
}

.logo {
    text-align: center;
    height:90%;
}

.logo > h1 {
    font-family: sans-serif;
    font-size: 5em;
}