/* nav {
    flex: auto;
    flex-wrap: wrap;   
} */

ul {
    list-style: none;
    text-align: right;
    padding-right: 1em;
}

li {
    display: inline-block;
}

h1 {
    font-family: sans-serif;
}

.logo {
    text-align: center;
    padding-top: 6em;
}

.searchBar {
    width: 40%;
    border-radius: 40px;
}

form {
    text-align: center;
}

.button {
    background: cadetblue;
}

.link {
    text-align: right; 
    padding-right: 1em;
    padding-top: 0.5em;
}